@model IEnumerable<WebSiteMusicBand.Model.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <a href="@Url.Action("Details", "Albums", new {id =item.AlbumId })">
                <table border="0">
                    <tr align="center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </tr>
                    <tr>
                        <img class="img-responsive user-photo" src=@Url.Content(item.CoverLink)>
                    </tr>
                </table>
            </a>
        </div>
    }
</div>

@section Styles{
    <style>
        .grid-item {
            float: left;
            width: 250px;
            height: 250px;
            background: #e6e5e4;
            border: 2px solid #b6b5b4;
        }
    </style>
}
