@model IEnumerable<WebSiteMusicBand.Model.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <a href="@Url.Action("Details", "Albums", new {id =item.AlbumId })">
                <table border="0">
                    <tr align="center">
                       <div id="grid-text">@Html.DisplayFor(modelItem => item.Title)</div> 
                    </tr>
                    <tr>
                        <img id="grid-pic" class="img-responsive user-photo" src=@Url.Content(item.CoverLink) alt=@item.Title />
                    </tr>
                </table>
            </a>
        </div>
    }
</div>
<div class="text-center"></div>
    @if (SecureCustomHelper.IsCurrenAdmin())
    { 
        <p id="create">
        @Html.ActionLink("Create New", "Create")
        </p>
    }

@section Styles{
    <style >
        .grid-item {
            float: left;
            width: 350px;
            height: auto;
            background: #e6e5e4;
            border: 2px solid #b6b5b4;
        }
        #grid-pic {
            width: 100%;
            height: auto;
        }
        #grid-text{
            text-align:center;
        }
        #create {
            text-align: center;
            font-size: 150%;
        }
    </style>
}
@section Scripts{
    @Scripts.Render("~/bundles/isotope/js"));
    }