
 #dvPreview {
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
		min-height: 200px;
		min-width: 200px;
		display: none;
	}


.intro-header {
    margin-bottom: 20px;
    height:350px;
}
#headerPic {
    height: 350px !important;
}

.section-heading {
	margin-top: 20px;
}

.thumbnail {
	padding:0px;
}
/*.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
	*/
@media (min-width: 768px) {
	.col-sm-5 {
		width: 90%;
	}
}
@media (min-width: 992px) {
	.container {
		padding-bottom: 20px;
	}
}

.myImg{
	height: 100px;
}

.myTitle{
	font-size:200%;
}

/* unvisited link */
.myLinl:link {
	color: white;
}

/* visited link */
.myLinl:visited {
	color: white;
}

/* mouse over link */
.myLinl:hover {
	color: white;
}

/* selected link */
.myLinl:active {
	color: white;
}

.myImg2{
	 margin-left: auto;
	margin-right: auto;
}

.myRight{
		float: right;
}

.myLeft{
		float: left;
}



.textCenter {
    text-align: center;
}

